.clear {
    clear: both;
}

.box-border {
    border: 1px solid #999;
}

.logo {
    width: 80px;
    height: 80px;    
}

/*container*/
#container{
	background: #eee;
	
}



/*left*/

#team {
	float: left;
    width: 200px;
    margin: 20px;
  	background: white;
}

#team-logo {
    float: left;
    margin: 20px;
}

#team-name {
    float: left;
    margin-top: 20px; 
}


/*middle*/
#introduction{
	margin: 20px 160px 20px 240px ;
	background: white;
	}

article{
	margin: 20px;
}

/*right*/
#members{
	width: 120px;
	float: right;
	margin: 20px;
	background: white;
	padding-bottom: 20px;
}

.members-logo{
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	
}

